<section id="content">
    <section id="page">
        <div class="container-fluid" id="contact">
            <div class="row">
                <form class="form-horizontal" action="#" method="post">
                    <fieldset>
                        <h2 class="text-center">Contact Me</h2>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2 form">
                                <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                            </div>
                            <div class="col-sm-4 form">
                                <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2 form">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                            <div class="col-sm-4 form">
                               <input id="phone" name="Subject" type="text" placeholder="Subject" class="form-control">
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 form">
                                <textarea class="form-control" id="message" name="message" placeholder="Write your message here." rows="7"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4 text-center">
                                <button name="_next" value="#" class="btn btn-default btn-sm btn-block" id="form">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</section>