<section id="content">
    <section id="page" class="portfolioPage">
        <div class="container-fluid">
             <div class="row">
                <div class="col-xs-12 col-sm-4 project-container">
                    <a href="#">
                        <h3 class="project-title">Project</h3>
                        <img src="./images/freelanceheader.jpg" class="img">
                    </a>
                    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequuntur mollitia perferendis.</p>
                </div>
                <div class="col-xs-12 col-sm-4 project-container">
                    <a href="#">
                        <h3 class="project-title">Project</h3>
                        <img src="./images/freelanceheader.jpg" class="img">
                    </a>
                    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequuntur mollitia perferendis.</p>
                </div>
                <div class="col-xs-12 col-sm-4 project-container">
                    <a href="#">
                        <h3 class="project-title">Project</h3>
                        <img src="./images/freelanceheader.jpg" class="img">
                    </a>
                    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequuntur mollitia perferendis.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
           <div class="row">
                <div class="col-xs-12 col-sm-4 project-container">
                    <a href="#">
                        <h3 class="project-title">Project</h3>
                        <img src="./images/freelanceheader.jpg" class="img">
                    </a>
                    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequuntur mollitia perferendis.</p>
                </div>
                <div class="col-xs-12 col-sm-4 project-container">
                    <a href="#">
                        <h3 class="project-title">Project</h3>
                        <img src="./images/freelanceheader.jpg" class="img">
                    </a>
                    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequuntur mollitia perferendis.</p>
                </div>
                <div class="col-xs-12 col-sm-4 project-container">
                    <a href="#">
                        <h3 class="project-title">Project</h3>
                        <img src="./images/freelanceheader.jpg" class="img">
                    </a>
                    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequuntur mollitia perferendis.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-4 project-container">
                    <a href="#">
                        <h3 class="project-title">Project</h3>
                        <img src="./images/freelanceheader.jpg" class="img">
                    </a>
                    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequuntur mollitia perferendis.</p>
                </div>
                <div class="col-xs-12 col-sm-4 project-container">
                    <a href="#">
                        <h3 class="project-title">Project</h3>
                        <img src="./images/freelanceheader.jpg" class="img">
                    </a>
                    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequuntur mollitia perferendis.</p>
                </div>
                <div class="col-xs-12 col-sm-4 project-container">
                    <a href="#">
                        <h3 class="project-title">Project</h3>
                        <img src="./images/freelanceheader.jpg" class="img">
                    </a>
                    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequuntur mollitia perferendis.</p>
                </div>
            </div>
        </div>
    </section>   
</section>