<section id="content">
    <section id="page" class="portfolioPage">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-4 zero">
                    <img src="./images/freelanceheader.jpg" class="img zero">
                </div>
                <div class="col-xs-12 col-sm-4 zero">
                    <img src="./images/freelanceheader.jpg" class="img zero">
                </div>
                <div class="col-xs-12 col-sm-4 zero">
                    <img src="./images/freelanceheader.jpg" class="img zero">
                </div>
            </div>
        </div>
        <div class="container-fluid">
           <div class="row">
                <div class="col-xs-12 col-sm-4 zero">
                    <img src="./images/freelanceheader.jpg" class="img zero">
                </div>
                <div class="col-xs-12 col-sm-4 zero">
                    <img src="./images/freelanceheader.jpg" class="img zero">
                </div>
                <div class="col-xs-12 col-sm-4 zero">
                    <img src="./images/freelanceheader.jpg" class="img zero">
                </div>
            </div>
        </div>
        <div class="container-fluid">
           <div class="row">
                <div class="col-xs-12 col-sm-4 zero">
                    <img src="./images/freelanceheader.jpg" class="img zero">
                </div>
                <div class="col-xs-12 col-sm-4 zero">
                    <img src="./images/freelanceheader.jpg" class="img zero">
                </div>
                <div class="col-xs-12 col-sm-4 zero">
                    <img src="./images/freelanceheader.jpg" class="img zero">
                </div>
            </div>
        </div>
    </section>   
</section>