<section id="content">
    <section id="page">
        <div class="container-fluid work" id="top-ul">
            <div class="row">
                <ul>
                    <li class="col-xs-6 col-sm-3 projects"><a href="#"><img src="http://placehold.it/250x250" class="img-responsive center-block"></a></li>
                    <li class="col-xs-6 col-sm-3 projects"><a href="#"><img src="http://placehold.it/250x250" class="img-responsive center-block"></a></li>
                    <li class="col-xs-6 col-sm-3 projects"><a href="#"><img src="http://placehold.it/250x250" class="img-responsive center-block"></a></li>
                    <li class="col-xs-6 col-sm-3 projects"><a href="#"><img src="http://placehold.it/250x250" class="img-responsive center-block"></a></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid work" id="bottom-ul">
            <div class="row">
                <ul>
                    <li class="col-xs-6 col-sm-3 projects"><a href="#"><img src="http://placehold.it/250x250" class="img-responsive center-block"></a></li>
                    <li class="col-xs-6 col-sm-3 projects"><a href="#"><img src="http://placehold.it/250x250" class="img-responsive center-block"></a></li>
                    <li class="col-xs-6 col-sm-3 projects"><a href="#"><img src="http://placehold.it/250x250" class="img-responsive center-block"></a></li>
                    <li class="col-xs-6 col-sm-3 projects"><a href="#"><img src="http://placehold.it/250x250" class="img-responsive center-block"></a></li>
                </ul>
            </div>        
        </div>
    </section>   
</section>