<section id="content">
    <section id="page" class="resumePage">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="resumeContact">
                        <li>T: <a href="tel:619-987-8157">619-987-8157</a></li>
                        <li>E: <a href="mailto:kempt09@gmail.com">kempt09@gmail.com</a></li>
                        <li>Github: <a href="https://github.com/kempt09">Kempt09</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 text-left">
                    <h3>Summary</h3>
                </div>
                <div class="col-sm-9 text-left">
                    <p>During the past few years I have worked in the Automotive Industry within the United States Navy. I started off as a junior mechanic and quickly worked my way up to a management level position. As a supervisor I have been able to develop my leadership skills and impact the lives of my junior employees in a positive way. I have been successful in meeting organizational goals and solving complex problems under extreme pressure. The military structure has provided me with the foundations and self determination to be successful in the Computer Science and Web Development Industry.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 text-left">
                    <h3>skills</h3>
                </div>
                <div class="col-sm-9 text-left">
                    <table id="skillTable" class="display" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>JavaScript</td>
                                <td>HTML5</td>
                                <td>CSS3</td>
                            </tr>
                            <tr>
                                <td>jQuery</td>
                                <td>AJAX</td>
                                <td>Object Oriented JS</td>
                            </tr>
                            <tr>
                                <td>Leadership</td>
                                <td>Team Building</td>
                                <td>Secret Clearance</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 text-left">
                    <h3>Experience</h3>
                </div>
                <div class="col-sm-9 text-left">
                    <h4>Treasurer, US Navy; San Diego, CA  — 2014-Current</h4>
                    <ul>
                        <li>Managed over $40,000 in funds to support workplace events.</li>
                        <li>Provided weekly briefs of account balance and metrics of fundraising events for members.</li>
                        <li>Prepared financial reports and fund raising plans for presentation to senior management.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9 text-left">
                    <h4>Work Center Supervisor, US Navy; San Diego, CA — 2010-Current</h4>
                    <ul>
                        <li>Drafted reports to document equipment status and maintenance requirements.</li>
                        <li>Led a group of 15+ mechanics in the preventative, and corrective maintenance of militarized 		automotive equipment. </li>
                        <li>Reviewed and approved all maintenance requirements, purchase request and administrative 		documents for submission for final approval.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 text-left">
                    <h3>Recent Projects</h3>
                </div>
                <div class="col-sm-9 text-left">
                    <ul>
                        <li><a href="http://kempt09.github.io/frontend-nanodegree-arcade-game">Arcade Game Clone</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 text-left">
                    <h3>Education</h3>
                </div>
                <div class="col-sm-9 text-left">
                    <table id="example" class="display" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>National University, San Diego</td>
                                <td>Grand Circus, Detroit</td>
                            </tr>
                            <tr>
                                <td>B.S, Computer Science</td>
                                <td>Front-End Web Development </td>
                            </tr>
                            <tr>
                                <td>January 2014-Current</td>
                                <td>January 2016-Current</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 text-left">
                    <h3>Awards</h3>
                </div>
                <div class="col-sm-9">
                    <ul>
                        <li>Navy and Marine Corps Achievement Medal 2015, 2013, 2012</li>
                        <li>Navy Good Conduct Medal 2014</li>
                        <li>Expeditionary Warfare Specialist</li>
                        <li>US Coast Guard Achievement Medal 2011</li>
                        <li>US Coast Guard Meritorious Team Award 2011</li>
                        <li>Global War on Terrorism Expeditionary 2011</li>
                        <li>Global War on Terrorism 2010</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>